@use "../../assets/color-variables.scss" as *;

@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap");

@media screen and (max-width: 480px) {
  .randomBeer__container {
    border: 1px solid white;
    text-align: center;
    width: 80%;
    background-color: white;
    border-radius: 15px;
    height: 60%;
    margin-bottom: 20px;
    font-family: "Reddit Mono";

    .randomBeer__heading {
      font-size: 10px;
    }

    .randomBeer__content {
      display: flex;
      justify-items: center;
      align-items: center;
      flex-direction: column;

      .randomBeer__imgAndDescription {
        display: flex;

        .randomBeer__image {
          height: 100px;
          margin-left: 20px;
          margin-bottom: 10px;
        }
        .randomBeer__description {
          margin-top: -5px;
          padding-top: 10px;
          margin-left: 5px;
          padding-bottom: 10px;
          padding-left: 5px;
          padding-right: 5px;
          font-size: 8px;
          background-color: white(123, 154, 248);
          border-radius: 5px;
        }
      }

      .randomBeer__pairingContainer {
        margin-top: -20px;
        .randomBeer__pairing {
          margin-left: 20px;
          margin-right: 20px;
          font-size: 8px;
        }
      }
    }
  }
}

@media screen and (min-width: 480px) {
  body {
    background-color: red;
  }

  .randomBeer__content {
    border: 1px solid black;
    text-align: center;

    .randomBeer__heading {
      font-size: 10px;
    }

    .randomBeer__description {
      padding-left: 20px;
      padding-right: 20px;
      font-size: 8px;
      background-color: rgb(123, 154, 248);
    }

    .randomBeer__pairing {
      margin-left: 20px;
      margin-right: 20px;
      font-size: 8px;
    }

    .randomBeer__image {
      height: 50px;
      margin-left: 20px;
    }
  }
}
