@use "../../assets/color-variables.scss" as *;

@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap");

@media screen and (max-width: 480px) {
  .beerCard__container {
    border: 1px solid white;
    text-align: center;
    width: 80%;
    background-color: white;
    border-radius: 15px;
    height: 60%;
    margin-bottom: 20px;
    font-family: "Reddit Mono";

    .beerCard__heading {
      font-size: 10px;
    }

    .beerCard__content {
      display: flex;
      justify-items: center;
      align-items: center;

      .beerCard__description {
        margin-top: -5px;
        padding-top: 10px;
        margin-left: 5px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 8px;
        background-color: white(123, 154, 248);
        border-radius: 5px;
      }

      .beerCard__pairingContainer {
        margin-top: -20px;
        .beerCard__pairing {
          margin-left: 20px;
          margin-right: 20px;
          font-size: 8px;
        }
      }

      .beerCard__image {
        margin-top: -10px;
        height: 100px;
        margin-left: 20px;
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .beerCard__container {
    border: 1px solid white;
    text-align: center;
    width: 40%;
    background-color: white;
    border-radius: 15px;
    height: 150px;
    margin-bottom: 20px;
    font-family: "Reddit Mono";
    margin-left: 7%;

    .beerCard__heading {
      font-size: 10px;
    }

    .beerCard__content {
      display: flex;
      justify-items: center;
      align-items: center;

      .beerCard__description {
        margin-top: -5px;
        padding-top: 10px;
        margin-left: 5px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 12px;
        background-color: white(123, 154, 248);
        border-radius: 5px;
      }

      .beerCard__pairingContainer {
        margin-top: -20px;
        .beerCard__pairing {
          margin-left: 20px;
          margin-right: 20px;
          font-size: 10px;
        }
      }

      .beerCard__image {
        margin-top: -10px;
        height: 100px;
        margin-left: 20px;
        margin-bottom: 10px;
      }
    }
  }
}
