@media screen and (max-width: 480px) {
  body {
    background-color: blue;
  }

  .filterList__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .filterItem__container {
      width: 200px;

      .filterItem__option {
        width: 200px;
      }
    }
  }
}

@media screen and (min-width: 480px) {
  body {
    background-color: red;
  }

  .filterList__container {
    width: 200px;
  }
}
